/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 *
 * bluish    berry    dracula    nordic    nightly    gotham    mask    faded    cocoa
 *
 */

@import "dracula.rasi"
